* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #43ffaf;
  color: #262a33;
}

html {
  font-family: "Roboto";
}

body {
  background-color: #262a33;
  color: #e5f7ef;
}

a {
  text-decoration: none;
}
